* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  background-color: #fcfffd;
}

a {
  color: inherit;
  text-decoration: none;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-item {
  flex: 1 0 auto;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.active {
  transform: translateX(0);
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
